* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: absolute;
  width: 1519px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.container {
  position: absolute;
  width: 1519px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.team {
  position: absolute;
  width: 1519px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.footer {
  position: absolute;
  width: 1519px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}

.webstudio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.span {
  color: #2196f3;
}

.studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.phonenumber {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.phonenumber:hover {
  color: black;
}

.bsn {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

#service {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order-service {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
}

.attention {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.info1 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.pynk {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.info2 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.plan {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.info3 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.techno {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.info4 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.specialization {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

#img1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

#img2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}

#img3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}

.our-team {
  position: absolute;
  width: 265px;
  height: 42px;
  left: 668px;
  top: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.person1 {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 186px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

#man1-1 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.Igor {
  position: absolute;
  width: 152px;
  height: 19px;
  left: 64px;
  top: 290px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession1-1 {
  position: absolute;
  width: 132px;
  height: 19px;
  left: 70px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.person2 {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 515px;
  top: 186px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

#woman1-1 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.Olha {
  position: absolute;
  width: 110px;
  height: 19px;
  left: 81px;
  top: 290px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession1-2 {
  position: absolute;
  width: 149px;
  height: 19px;
  left: 62px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.person3 {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 815px;
  top: 186px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

#man1-2 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.Kolya {
  position: absolute;
  width: 138px;
  height: 19px;
  left: 67px;
  top: 290px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession1-3 {
  position: absolute;
  width: 76px;
  height: 19px;
  left: 97px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.person4 {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 186px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

#man1-3 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.Michail {
  position: absolute;
  width: 135px;
  height: 19px;
  left: 68px;
  top: 290px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession1-4 {
  position: absolute;
  width: 88px;
  height: 19px;
  left: 92px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.webstudio-logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}

.span-logo {
  color: #2196f3;
}

.adres {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 111px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

#emaail {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 141px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

#emaail:hover {
  color: #fff;
}

.number {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 171px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.number:hover {
  color: #fff;
}
